body{
    padding: 0px;
    margin: 0px;
}

#nav_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    padding: 8px 150px;
    border-bottom: 1px solid gainsboro;
}

#nav_1_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}
#nav_1_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
}

#bell-icon{
    height: 15px;
}

#shopping-cart-icon{
    height: 15px;
}

.chevron-down{
    height:8px
}

#header{
    display: flex;
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    padding: 10px 150px;
}

#header .ebay-logo{
    height: 60;
}

#header div{
    margin: 0px 10px;
}

#header #scegli_la_categoria{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

#header #search_bar{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    border: 2px solid black;
    border-radius: 20px;
    width: 70%;
    padding: 10px

}

#header #search{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: dodgerblue;
    padding: 10px 50px;
    border-radius: 20px;
}

#header #avanzata{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: 0.8em;
}

#nav_2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 8px 325px;
}

#nav_2 a{
    text-decoration: none;
    font-size: 0.8em;
    color: #303030;
}

#nav_2 a:hover{
    color: royalblue;
    text-decoration: underline;
}