body{
    padding: 0px;
    margin: 0px;
}

#nav_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    padding: 8px 150px;
    border-bottom: 1px solid gainsboro;
}

#nav_1_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}
#nav_1_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
}

#bell-icon{
    height: 15px;
}

#shopping-cart-icon{
    height: 15px;
}

.chevron-down{
    height:8px
}

#header{
    display: flex;
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    padding: 10px 150px;
}

#header .ebay-logo{
    height: 60;
}

#header div{
    margin: 0px 10px;
}

#header #scegli_la_categoria{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

#header #search_bar{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    border: 2px solid black;
    border-radius: 20px;
    width: 70%;
    padding: 10px;

}

#header #search{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    padding: 10px 50px;
    border-radius: 20px;
}

#header #avanzata{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: 0.8em;
}

#nav_2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 8px 325px;
    margin-bottom: 20px;
}

#nav_2 a{
    text-decoration: none;
    font-size: 0.8em;
    color: #303030;
}

#nav_2 a:hover{
    color: royalblue;
    text-decoration: underline;
}

#section-1{
    background-color: darkturquoise;
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    width: 82%;
    height: 300px;
    border-radius: 20px;
    margin: 10px auto;
    display: flex;
}
#section-1 div{
    padding: 20px 100px;
}

#section-1 h1{
    font-size: 2em;
}

#section-1 span{
    line-height: 6;
}

#coupon-button{
    background-color: darkslategray;
    color: darkturquoise;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 20px;
}

#footer{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    border-top: 1px solid gainsboro;
}

#footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 150px;
}

.block-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    line-height: 2;
    color: dimgray;
    margin: 10px 0px;
}

.block-container span{
    color: black;
    font-weight: bold;
    line-height: 2.3;
}

.block-container p{
    margin-bottom: 10px;
}

#selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #303030;
    border-radius: 10px;
    padding: 0px 10px;
    width: 100px;
}

#selector img{
    height: 20px;
}

#copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    padding: 8px 150px;
}